### Python 1 : Addition To String

### Task

Your function name should be `add_str`.

Given a string filled with integers separated by comma. Create a new number, whose digits are the integers inside the string. Then, add 1 to the new number. Then, separate the digits again to a string which consits of **single digit of
integers**, separated by comma. This new string will be your output string. The output string **should not have zero as its first character**.  See the examples for clearer understanding.

### Example 1:

- Input = `'1,3,5'`
- Output = `'1,3,6'`

Since the input is `'1,3,5'`, then the new number created is 135. Add 135 with 1 so it becomes 136. Then, separate back 136 into each individual digits separated by comma. This becomes `'1,3,6'`. So, the expected output of your solution is `'1,3,6'`

### Example 2:

- Input = `'1,3,39'`
- Output = `'1,3,4,0'`

Since the input is `'1,3,39'`, then the new number created is 1339. Add 1339 with 1 so it becomes 1340. Then, separate back 1340 into each individual digits separated by comma. This becomes `'1,3,4,0'`. So, the expected output of your solution is `'1,3,4,0'`

### Example 1:

- Input = `'0,1,3,39'`
- Output = `'1,3,4,0'`

Since the input is `'0,1,3,39'`, then the new number created is 1339. Add 1339 with 1 so it becomes 1340. Then, separate back 1340 into each individual digits separated by comma. This becomes `'1,3,4,0'`. So, the expected output of your solution is `'1,3,4,0'`. Remember, do not put a 'zero' in the beginning of your output.

### Input Format

The input is in the shape of a string.

### Output Format

The output is in the shape of a string.

### Sample Input

`'1,5,1,9'`

### Sample Output
`'1,5,2,0'`

### Space for Work

In [38]:
def add_str(input_string):
    digits = input_string.replace(',','')
    interger = int(digits)
    new_number = interger + 1
    new_string = str(new_number)
    output_string = ','.join(new_string)

    return output_string

input = '1,5,1,9'
output = add_str(input)
print(output)

1,5,2,0